{
    "aws": {
        "key": "<put your AWS key here>",
        "secret": "<put your AWS secret here>",
        "region": "us-east-1",
        "collection": "<put your collection name here>"
    },
    "printer": "/dev/usb/lp0"
}
