{
    "aws": {
        "key": "<put your AWS key here>",
        "secret": "<put your AWS secret here>",
        "region": "us-east-1",
        "collection": "<put your collection name here>"
    },
    "database": "/path/to/your/sqlite.db",
    "locale": "en_US",
    "printer": "/dev/usb/lp0",
    "title": "The Name of Your Event"
}
